.menu
	.menu__bg.menu__bg--desktop
		+icon('menu-lines')
	.menu__bg.menu__bg--mobile
		+icon('menu-lines-mob')
	.container.menu__container
		ul.menu__list
			li
				a(href='#') Где купить
			li
				a(href='#') О препарате
			li
				a(href='#') О варикозе
			li
				a(href='#') Решение
			li
				a(href='#') Специалистам