section#catalog.catalog
	.container.container--small
		.subtitle Новинки
		h2.h1 Эксклюзивные поступления
	.catalog__slider.swiper.js-catalog-slider
		.swiper-wrapper
			.catalog-card.swiper-slide
				.catalog-card__image
					img(src='./images/catalog/1.webp', srcset='./images/catalog/1@2x.webp 2x', alt='')
					.catalog-card__image-content
						.catalog-card__top
							a.catalog-card__favorites(href='/')
								+icon('heart-outline', '24', '24')
						.catalog-card__price 2 550 000 ₽
				.catalog-card__content
					.catalog-card__title Зуб акулы Carcharocles megalodon
					.catalog-card__info
						.catalog-card__info-item
							.catalog-card__caption
								+icon('age', '16', '17')
								span Возраст
							.catalog-card__text <span>2,6-23</span> млн. лет
						.catalog-card__info-item
							.catalog-card__caption
								+icon('size', '17', '17')
							.catalog-card__text <span>39</span> x <span>22</span> x <span>16</span> см
						.catalog-card__info-item
							.catalog-card__caption
								+icon('marker', '16', '17')
								span Место находки
							.catalog-card__text <span>Бразилия</span>
						.catalog-card__info-item
							.catalog-card__caption
								+icon('weight', '17', '17')
								span Вес
							.catalog-card__text <span>11050</span> г
				a(href='/', target='_blank')
			.catalog-card.swiper-slide
				.catalog-card__image
					img(src='./images/catalog/2.webp', srcset='./images/catalog/2@2x.webp 2x', alt='')
					.catalog-card__image-content
						.catalog-card__top
							a.catalog-card__favorites(href='/')
								+icon('heart-outline', '24', '24')
						.catalog-card__price 2 550 000 ₽
				.catalog-card__content
					.catalog-card__title Зуб акулы Carcharocles megalodon
					.catalog-card__info
						.catalog-card__info-item
							.catalog-card__caption
								+icon('age', '16', '17')
								span Возраст
							.catalog-card__text <span>2,6-23</span> млн. лет
						.catalog-card__info-item
							.catalog-card__caption
								+icon('size', '17', '17')
							.catalog-card__text <span>39</span> x <span>22</span> x <span>16</span> см
						.catalog-card__info-item
							.catalog-card__caption
								+icon('marker', '16', '17')
								span Место находки
							.catalog-card__text <span>Бразилия</span>
						.catalog-card__info-item
							.catalog-card__caption
								+icon('weight', '17', '17')
								span Вес
							.catalog-card__text <span>11050</span> г
				a(href='/', target='_blank')
			.catalog-card.swiper-slide
				.catalog-card__image
					img(src='./images/catalog/3.webp', srcset='./images/catalog/3@2x.webp 2x', alt='')
					.catalog-card__image-content
						.catalog-card__top
							a.catalog-card__favorites(href='/')
								+icon('heart-outline', '24', '24')
						.catalog-card__price 2 550 000 ₽
				.catalog-card__content
					.catalog-card__title Зуб акулы Carcharocles megalodon
					.catalog-card__info
						.catalog-card__info-item
							.catalog-card__caption
								+icon('age', '16', '17')
								span Возраст
							.catalog-card__text <span>2,6-23</span> млн. лет
						.catalog-card__info-item
							.catalog-card__caption
								+icon('size', '17', '17')
							.catalog-card__text <span>39</span> x <span>22</span> x <span>16</span> см
						.catalog-card__info-item
							.catalog-card__caption
								+icon('marker', '16', '17')
								span Место находки
							.catalog-card__text <span>Бразилия</span>
						.catalog-card__info-item
							.catalog-card__caption
								+icon('weight', '17', '17')
								span Вес
							.catalog-card__text <span>11050</span> г
				a(href='/', target='_blank')
			.catalog-card.swiper-slide
				.catalog-card__image
					img(src='./images/catalog/4.webp', srcset='./images/catalog/4@2x.webp 2x', alt='')
					.catalog-card__image-content
						.catalog-card__top
							.catalog-card__badge Новинка
							a.catalog-card__favorites(href='/')
								+icon('heart-outline', '24', '24')
						.catalog-card__price 2 550 000 ₽
				.catalog-card__content
					.catalog-card__title Зуб акулы Carcharocles megalodon
					.catalog-card__info
						.catalog-card__info-item
							.catalog-card__caption
								+icon('age', '16', '17')
								span Возраст
							.catalog-card__text <span>2,6-23</span> млн. лет
						.catalog-card__info-item
							.catalog-card__caption
								+icon('size', '17', '17')
							.catalog-card__text <span>39</span> x <span>22</span> x <span>16</span> см
						.catalog-card__info-item
							.catalog-card__caption
								+icon('marker', '16', '17')
								span Место находки
							.catalog-card__text <span>Бразилия</span>
						.catalog-card__info-item
							.catalog-card__caption
								+icon('weight', '17', '17')
								span Вес
							.catalog-card__text <span>11050</span> г
				a(href='/', target='_blank')
			.catalog-card.swiper-slide
				.catalog-card__image
					img(src='./images/catalog/5.webp', srcset='./images/catalog/5@2x.webp 2x', alt='')
					.catalog-card__image-content
						.catalog-card__top
							a.catalog-card__favorites(href='/')
								+icon('heart-outline', '24', '24')
						.catalog-card__price 2 550 000 ₽
				.catalog-card__content
					.catalog-card__title Зуб акулы Carcharocles megalodon
					.catalog-card__info
						.catalog-card__info-item
							.catalog-card__caption
								+icon('age', '16', '17')
								span Возраст
							.catalog-card__text <span>2,6-23</span> млн. лет
						.catalog-card__info-item
							.catalog-card__caption
								+icon('size', '17', '17')
							.catalog-card__text <span>39</span> x <span>22</span> x <span>16</span> см
						.catalog-card__info-item
							.catalog-card__caption
								+icon('marker', '16', '17')
								span Место находки
							.catalog-card__text <span>Бразилия</span>
						.catalog-card__info-item
							.catalog-card__caption
								+icon('weight', '17', '17')
								span Вес
							.catalog-card__text <span>11050</span> г
				a(href='/', target='_blank')
			.catalog-card.swiper-slide
				.catalog-card__image
					img(src='./images/catalog/6.webp', srcset='./images/catalog/6@2x.webp 2x', alt='')
					.catalog-card__image-content
						.catalog-card__top
							a.catalog-card__favorites(href='/')
								+icon('heart-outline', '24', '24')
						.catalog-card__price 2 550 000 ₽
				.catalog-card__content
					.catalog-card__title Зуб акулы Carcharocles megalodon
					.catalog-card__info
						.catalog-card__info-item
							.catalog-card__caption
								+icon('age', '16', '17')
								span Возраст
							.catalog-card__text <span>2,6-23</span> млн. лет
						.catalog-card__info-item
							.catalog-card__caption
								+icon('size', '17', '17')
							.catalog-card__text <span>39</span> x <span>22</span> x <span>16</span> см
						.catalog-card__info-item
							.catalog-card__caption
								+icon('marker', '16', '17')
								span Место находки
							.catalog-card__text <span>Бразилия</span>
						.catalog-card__info-item
							.catalog-card__caption
								+icon('weight', '17', '17')
								span Вес
							.catalog-card__text <span>11050</span> г
				a(href='/', target='_blank')
			.catalog-card.swiper-slide
				.catalog-card__image
					img(src='./images/catalog/7.webp', srcset='./images/catalog/7@2x.webp 2x', alt='')
					.catalog-card__image-content
						.catalog-card__top
							a.catalog-card__favorites(href='/')
								+icon('heart-outline', '24', '24')
						.catalog-card__price 2 550 000 ₽
				.catalog-card__content
					.catalog-card__title Зуб акулы Carcharocles megalodon
					.catalog-card__info
						.catalog-card__info-item
							.catalog-card__caption
								+icon('age', '16', '17')
								span Возраст
							.catalog-card__text <span>2,6-23</span> млн. лет
						.catalog-card__info-item
							.catalog-card__caption
								+icon('size', '17', '17')
							.catalog-card__text <span>39</span> x <span>22</span> x <span>16</span> см
						.catalog-card__info-item
							.catalog-card__caption
								+icon('marker', '16', '17')
								span Место находки
							.catalog-card__text <span>Бразилия</span>
						.catalog-card__info-item
							.catalog-card__caption
								+icon('weight', '17', '17')
								span Вес
							.catalog-card__text <span>11050</span> г
				a(href='/', target='_blank')
			.catalog-card.swiper-slide
				.catalog-card__image
					img(src='./images/catalog/8.webp', srcset='./images/catalog/8@2x.webp 2x', alt='')
					.catalog-card__image-content
						.catalog-card__top
							a.catalog-card__favorites(href='/')
								+icon('heart-outline', '24', '24')
						.catalog-card__price 2 550 000 ₽
				.catalog-card__content
					.catalog-card__title Зуб акулы Carcharocles megalodon
					.catalog-card__info
						.catalog-card__info-item
							.catalog-card__caption
								+icon('age', '16', '17')
								span Возраст
							.catalog-card__text <span>2,6-23</span> млн. лет
						.catalog-card__info-item
							.catalog-card__caption
								+icon('size', '17', '17')
							.catalog-card__text <span>39</span> x <span>22</span> x <span>16</span> см
						.catalog-card__info-item
							.catalog-card__caption
								+icon('marker', '16', '17')
								span Место находки
							.catalog-card__text <span>Бразилия</span>
						.catalog-card__info-item
							.catalog-card__caption
								+icon('weight', '17', '17')
								span Вес
							.catalog-card__text <span>11050</span> г
				a(href='/', target='_blank')
		.container.catalog__nav.swiper-nav
			.swiper-prev-btn
				+icon('chevron-left', '32', '32')
			.swiper-next-btn
				+icon('chevron-right', '32', '32')
	.container.container--small.catalog__bottom
		a.link.link--medium(href='/', target='_blank') Посмотреть все новинки
		.catalog__pagination.swiper-pagination