*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

html {
	font-size: 10px;
	line-height: 1.2;
	font-weight: 400;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	font-family: $mainFont;
	background-color: var(--color-white);
	color: var(--color-base);

	/* iOS fix */
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-webkit-locale: auto;
	white-space: normal;
}

main {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

a {
	color: var(--color-base);
	text-decoration: none;
}

ul,
ol,
nav {
	list-style: none;
	padding: 0;
}

svg {
	width: auto;
	height: auto;
}

img {
	display: block;
	max-width: 100%;
}

input,
button {
	-webkit-appearance: none;
	padding: 0;
}

input,
button,
select,
textarea {
	font: inherit;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	outline: 0;
}

select,
textarea {
	appearance: none;
	resize: none;
}

input,
textarea {
	padding: 0;
	margin: 0;

	&:focus::placeholder {
		opacity: 0;
	}
}

.container {
	max-width: 190rem;
	width: 100%;
	padding: 0 1.3rem;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;

	@include min(md) {
		padding: 0 2.4rem;
	}

	@include min(xl) {
		padding: 0 15rem;
	}
}

.body-scroll-lock {
	overflow: hidden;
}

.d-none {
	display: none !important;
}

.d-block {
	display: block !important;
}

.d-none-mobile {
	display: none !important;

	@include min(lg) {
		display: block !important;
	}
}

.d-none-desktop {
	display: block !important;

	@include min(lg) {
		display: none !important;
	}
}

.hidden {
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	word-wrap: normal !important;
}

/* Swiper controls */
.swiper-nav {

}

.swiper-next-btn,
.swiper-prev-btn {

}
